body {
    font-family: 'Gilroy', sans-serif;
}
.promote_title {
    font-weight: 300;
    font-size: 48px;
    line-height: 60px;
    color: #000000;
    border-bottom: 1px solid #000000;
}
.link_item {
    font-size: 12px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #58595B;
}