body {
    font-family: 'Gilroy', sans-serif;
}
.promote_title {
    font-weight: 300;
    font-size: 48px;
    line-height: 60px;
    color: #000000;
    border-bottom: 1px solid #000000;
}
.link_item {
    font-size: 12px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #58595B;
}
.nav-link {
    font-weight: 300;
    font-size: 12px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #58595B;
    margin-right: 25px;
    margin-top: 5px;
}
.logo {
    margin-left: 150px;
    margin-right: 50px;
}
.title {
    font-weight: 800;
    font-size: 64px;
    line-height: 86px;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    top: -250px;
}
.subtitle { 
    position: relative;
    width: 410px;
    height: 128px;
    left: 234px;
    top: -190px;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #58595B;
    background: #FFFFFF;
}
.btn_lang {
    margin-top: 10px;
    background-color: #F9F8F6;
    border: none;
    font-size: 12px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #58595B;
}
.btn_ua {
    text-decoration: underline;
}
.column {
    margin: 0;
}
.row_flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.promote_text {
    font-size: 18px;
}
.group_text {
    font-size: 16px;
}
.logo_promote {
    margin-left: 50px;
}
.btn_promote {
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #58595B;
}
.footer {
    margin-top: 15px;
    border-top: 1px solid #58595B;
}
.footer_link {
    margin-right: 5px;
}
.btn_catalog {
    width: 330px;
    height: 38px;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #58595B;
    border-bottom: 1px solid #58595B;
}
.btn_catalog:hover {
    border-top: 1px solid #58595B;
    background: #E4C5AD;
}
.btn_catalog:active {
    background: #F0DED0;
}
.btn_pagination {
    position: absolute;
    margin-top: 15px;
    left: 550px;
    width: 223px;
    height: 48px;
    background: #F0DED0;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #58595B;
}
.logo_min {
    margin-top: 1em;
    margin-left: 150px;
}
.panel {
    max-width: 150px;
}
.card-title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    align-items: center;
    text-align: center;
    color: #58595B;
}
.coast_old {
    text-decoration: line-through;
    color: #58595B;
    text-align: center;
    font-weight: 300;
}
.coast_new {
    color: #ED4848;
    text-align: center;
    font-weight: 300;
}

.cp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.cp__color {
    width: 16px;
    height: 16px;
    background-color: #CCC;
    margin: 5px;
    border-radius: 50%;
}

.cp__color--red {
    background-color: #ED4848;
}

.cp__color--green {
    background-color: #799756;
}

.cp__color--blue {
    background-color: #5C64B1;
}

.cp__color--yellow {
    background-color: #FFC700;
}

.cp__color--purple {
    background-color: #B491D0;
}

.cp__color--tomato {
    background-color: #FB9951;
}

.cp__color--grey {
    background-color: #A7A7A7;
}

.cp__color--black {
    background-color: #C18562;
}

.cp__color--orange {
    background-color: #FF6B00;
}
.cp-card {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-right: 30px;
}
.cp__color:hover {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid #D4CFC5;
}
.btn_size {
    display: flex;
    justify-content: center;
    width: 45px;
    height: 35px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #58595B;
    margin-right: 15px;
}
.dropdown_size {
    width: 330px;
}